.arrow-container {
  position: relative;
}

.arrow-img {
  position: absolute;
  left: 50%;
  top: -35px;
  transform: rotate(90deg);
}

// ##############################################################################################
// Sponsors Block

.sponsors {
  // .sponsors__container
  &__container {
  }

  // .sponsors__items
  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  // .sponsors__item
  &__item {
    width: 166px;
    height: 66px;
    background-color: $secondary;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
