.reviews {
  padding: 10px 30px 30px 30px;

  // .reviews__container
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  // .reviews__title
  &__title {
    font-family: "Russo One";
    font-weight: 400;
    font-size: 36px;
    line-height: calc(43 / 36) * 100%;
    text-align: center;
    color: $secondary;
    margin-bottom: 30px;
  }

  // .reviews__content
  &__content {
    display: flex;
    gap: 80px;
    align-items: center;
  }

  // .reviews__arrow
  &__arrow {
    // .reviews__arrow-back
    &-back {
      transform: rotate(180deg);
    }

    img:hover {
      transform: scale(1.2);
    }
  }

  // .reviews__card
  &__card {
    margin-bottom: 20px;
    position: relative;
  }
  // .reviews__pagination
  &__pagination {
  }
}
.card {
  display: none;
  width: 759px;
  height: 320px;
  background: $secondary;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 40px;

  &.visible {
    display: flex;
  }

  padding: 40px;
  position: relative;

  &-fake1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 839px;
    height: 252px;
    background: $secondary;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
  }

  &-fake2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 799px;
    height: 286px;
    background: $secondary;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
  }

  // .card__img
  &__img {
    flex: 30%;
    width: 20px;
    height: 240px;
    margin-right: 20px;
  }

  // .card__content
  &__content {
    flex: 70%;
  }

  // .card__name
  &__name {
    font-family: "Russo One";
    font-weight: 400;
    font-size: 24px;
    line-height: calc(29 / 24) * 100%;
    color: $primary;
  }

  // .card__city
  &__city {
    font-family: "Russo One";
    font-weight: 400;
    font-size: 18px;
    line-height: calc(22 / 18) * 100%;
    color: $black;
    margin-bottom: 10px;
  }

  // .card__text
  &__text {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 16px;
    line-height: calc(22 / 16) * 100%;
    color: $black;
  }
}
.pagination {
  display: flex;
  gap: 5px;

  // .pagination__item
  &__item {
    width: 61px;
    height: 18px;
    background: rgba(241, 241, 241, 0.2);
    border-radius: 20px;

    &.active {
      background: $primary;
    }
  }
}
