@import "fonts";
@import "variables.scss";
@import "null.scss";
@import "fonts";

@import "main.scss";
@import "header.scss";
@import "general";
@import "prices.scss";
@import "advantages.scss";
@import "capacity.scss";
@import "reviews.scss";
@import "answers.scss";
@import "form.scss";

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: $black;
  background-color: $bgcolor;
}

._container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
}
