@import "fonts";
@import "variables.scss";
@import "null.scss";
@import "fonts";

@import "main.scss";
@import "header.scss";
@import "general";
@import "prices.scss";
@import "advantages.scss";
@import "capacity.scss";
@import "reviews.scss";
@import "answers.scss";
@import "form.scss";
@import "contacts.scss";
@import "thanks.scss";

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: $black;
  background-color: $bgcolor;
}

._container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
}

.footer {
  // .footer__container
  &__container {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 40px 30px;
  }

  // .footer__text
  &__text {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: calc(19 / 14) * 100%;
    text-decoration-line: underline;
    color: $secondary;

    &:hover {
      color: $primary;
    }
  }
}

.custom-btn {
  background: blue;
  border-radius: 11px;
  box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.45);
  border: 5px solid $primary;

  font-family: "Russo One";
  font-weight: 400;
  font-size: 22px;
  line-height: calc(27 / 22) * 100%;
  color: $secondary;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 45px;

  &:hover {
    transform: scale(1.05);
  }
}
