$fontFamily: 'Open Sans';

$minWidth: 320px;
$maxWidth: 1280px;
$maxWidthContainer: 1140px;
$md1: $maxWidthContainer + 12;
$md2: 1000px;
$md3: 768px;
$md4: 480px;

// Basic Colors

$black: #000;

// Project Colors
$bgcolor: #222222;
$primary: #2194FF;
$secondary: #F1F1F1;
